@import url("./assets/css/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --black: 0, 0%, 0%;
        --white: 0, 0%, 100%;

        --accent: var(--black);
        --accent-foreground: 222, 6%, 39%;
        --background: var(--white);
        --background-foreground: 0, 0%, 75%;
        --button: var(--white);
        --button-foreground: 0, 0%, 77%;
        --border: var(var(--black));
    }

    /* .dark {} */
}
