@import url("./assets/css/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 2px solid #c4c4c4;
    cursor: pointer;
    position: relative;
  }
  
  .custom-checkbox:checked {
    background-color: black;
    border-color: black;
  }
  
  .custom-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background-image: url('../public/icons/checkbox_arrow.svg');
    background-size: cover;
    transform: translate(-50%, -50%);
  }

@layer base {
    :root {
        --black: 0, 0%, 0%;
        --white: 0, 0%, 100%;
        --foreground: 0, 0%, 77%;

        --accent: var(--black);
        --accent-foreground: 222, 6%, 39%;
        --background: var(--foreground);
        --background-foreground: var(--black);
        --border: var(--black);
        --border-foreground: 0, 0%, 77%;
    }

    /* .dark {} */
}
